<!DOCTYPE html>
<html>
<head>

	<title>GIL - Anotación</title>
</head>
<body style="background:linear-gradient(Teal 50%, rgb(0, 0, 0)) fixed">
<!-- This page introduces the study. -->

<div style="background-color:WhiteSmoke; padding:25px; border:2px solid black; max-width:1000px; margin:auto">
<p style="text-align:center"><img src="/static/img/banner.png" alt="Logo"></p>
<h1 style="text-align:center">ERROR 404 - No sé pudo encontrar la página</h1>
</br></br>

<p> No se puede encontrar la página que busca. Porfavor regresa al menú principal 
  <a style="text-aligh:right" href="/">Aquí >></a> </p>

</div>
</body>
</html> 
