<!DOCTYPE html>
<html>
<head>
	<title>GIL - Anotación</title>
</head>

<body style="background:linear-gradient(Teal 50%, rgb(0, 0, 0)) fixed">

<div style="background-color:WhiteSmoke; padding:25px; border:2px solid black; max-width:1000px; margin:auto">
	<p style="text-align:center"><img src="/static/img/banner.png" alt="Logo"></p>

	<h2 style="text-align:center">Fin</h2> 
  <a style="text-aligh:right" href="/logout/">Salir</a>  <br> <br>
    <hr>
	<p>	

    ¡Enhorabuena! Ya ha completado el etiquetado. <br>
    ¡El GIL agradece su participación en este estudio! <br><br>
    
    Pulse salir para cerrar la sesión.
	</p>

	<br>
</div>
	
</body>
</html> 

