<!DOCTYPE html>
<html>
<head>

	<title>GIL - Anotación</title>
</head>
<body style="background:linear-gradient(Teal 50%, rgb(0, 0, 0)) fixed">
<!-- This page introduces the study. -->

<div style="background-color:WhiteSmoke; padding:25px; border:2px solid black; max-width:1000px; margin:auto">
<p style="text-align:center"><img src="/static/img/banner.png" alt="Logo"></p>
<h1 style="text-align:center">Anotación de Tuits</h1>
</br></br>

<a style="text-aligh:right" href="/logout/">Salir >></a>

<p> ¡Bienvenido al estudio, agradecemos su participación! </p>

<p> 
	En este estudio, su tarea es anotar canciones para identificar contenido LGBT-fóbico. <br>
  Todavia no está abierto el plataforma de etiquetado. Por favor espera para más información.
  <br> <br>
  El tutorial está disponible si lo quiere completar de antemano. <br>

	<!--Primero, repasaremos algunos conceptos, y después completarás un breve tutorial. <br>
	Al completar el tutorial, tendrás acceso a los tuits.  <br> <br>

	Ten en cuenta que durante el etiquetado, cuando envia una annotación, no podrá volver
	a revisarlo. <br> <br>

	<i>Importante: </i> <br>
	Le advertimos que estos tuits pueden disponer de contenido lastimoso a la comunidad LGBT+,
	pueden incluir lenguaje ofensivo, incitación de violencia, odio, discriminación, etc. Sí
	en algún momento se siente abrumadx, por favor cierra la página y tome un descanso.
	Si no se siente capaz de completar el estudio, por favor avisenos. Lo más importante es
	su bienestar. <br> <br>
  -->
	El siguiente enlace le llevará al tutorial, y sí ya lo ha completado, le llevará al
	etiquetado. <br> <br>

	Si en algún momento tiene dudas, comentarios, o quiere reportar un problema, contacta
	a Scott en Stasen@umich.edu o escribenos en el grupo de Whattsapp o por privado. <br> <br>

	
	{% if tutorial_completed == "True" %}
    <a style="text-aligh:right" href="/tutorial/">Tutorial >></a> <br> <br>
		<a style="text-aligh:right" href="/song/">Etiquetar >></a>
	{% else %}
		<a style="text-aligh:right" href="/tutorial/">Empezar >></a>
	{% endif %}


</div>
</body>
</html> 
