<!DOCTYPE html>
<html>
<head>

	<title>GIL - Anotación</title>
</head>
<body style="background:linear-gradient(Teal 50%, rgb(0, 0, 0)) fixed">
<!-- This is the header page to welcome the user. -->

<div style="background-color:WhiteSmoke; padding:25px; border:2px solid black; max-width:1000px; margin:auto">
<p style="text-align:center"><img src="/static/img/banner.png" alt="Logo"></p>
<h1 style="text-align:center">Anotación de Tuits</h1>
</br></br>

<p style="color:red">{{ warning }}</p>
<form action="/login/" method="post" enctype="multipart/form-data">
  <input type="text" name="email", placeholder="email"/>
  <input type="password" name="password", placeholder="contraseña"/>
  <input type="submit" name="entry" value="Entrar"/>
</form>
	<br>

</div>
</body>
</html> 
