<!DOCTYPE html>
<html>
<head>

	<title>GIL - Anotación</title>
</head>
<body style="background:linear-gradient(Teal 50%, rgb(0, 0, 0)) fixed">

<!-- This page introduces the study. -->

<div style="background-color:WhiteSmoke; padding:25px; border:2px solid black; max-width:1000px; margin:auto">
<p style="text-align:center"><img src="/static/img/banner.png" alt="Logo"></p>
<h1 style="text-align:center">Fin de Tutorial</h1>
</br></br>

<a style="text-aligh:right" href="/logout/">Salir >></a>


<p> 
    ¡Felicidades! Ha completado el tutorial. Ahora seguirá al etiquetado.
    En cualquier momento puede regresar al tutorial buscando el enlace que dice tutorial en la
    siguiente página.

    <br>
    Le recomendamos tener a mano, abierta en otra pestaña, la guía de anotación,
    <a href="/tutorial3/" target="_blank" rel="noopener noreferrer">aquí</a>


    <br>
    <br>

    Una vez más le advertimos que hay uso de lenguaje violento y ofensivo hacia la comunidad
    LGBT+. En algún momento, si no se siente capaz de terminar el etiquetado, cierra la sesión y
    avisenos con la mayor brevedad, porfavor.
    <br>
    <br>

    Pulse el enlace para empezar con la anotación.
</p>

  <a href="/">Seguir</a>

</div>
</body>
</html> 
