<!DOCTYPE html> <html>
<head>

	<title>GIL - Anotación</title>
</head>
<body style="background:linear-gradient(Teal 50%, rgb(0, 0, 0)) fixed">
<!-- This page introduces the study. -->

<div style="background-color:WhiteSmoke; padding:25px; border:2px solid black; max-width:1000px; margin:auto">
<p style="text-align:center"><img src="/static/img/banner.png" alt="Logo"></p>
<h1 style="text-align:center">Tutorial</h1>
</br></br>

<a style="text-aligh:right" href="/logout/">Salir >></a>


<p> 

  Aquí repasaremos la guía de anotación. <br>
  Usted va a determinar si el contenido exhibe homofobía. <br>
  Para determinar sí es el caso, preguntese las siguientes preguntas. <br>
  Y después, anotará la canción como LGBT-fóbico, no LGBT-fóbico. <br>
  Sí la canción contiene contenido LGBT-fóbico, por favor indique las líneas de la canción
  que le convencieron que es contenido fóbico.


  <hr>
  <h2 style="text-align:center"> Preguntese: </h2>
  <hr>

  <b> ¿La canción compara a una expresión de género diversa (transexualidad, travestismo,
    transgenerismo) con algo que el autor considera negativo? </b> <br> <br>

    sí: LGBT-fóbico <br>
    no: No LGBT-fóbico <br>
    
  <br>
  <hr>

  <b> ¿La canción compara a una orientación sexual diversa (homosexualidad, lesbianismo,
    asexualidad, pansexualidad, etc) con algo que el autor considera negativo? </b> <br> <br>

    sí: LGBT-fóbico <br>
    no: No LGBT-fóbico <br>
    
  <br>
  <hr>

  <b> ¿La canción muestra estigma o prejuicio hacia la comunidad LGBTQ+? </b> <br> <br>

    sí: LGBT-fóbico <br>
    no: No LGBT-fóbico <br>
    
  <br>
  <hr>

  <b> A pesar de usar palabras tradicionalemnte pensadas como ofensivas (puto, lencha
  maricón, etc), ¿la canción contiene un mensaje que refleja auto-aceptación?</b> <br> <br>

    sí: No LGBT-fóbico <br>
    no: LGBT-fóbico <br>
    
  <br>
  <hr>

  <b> ¿La canción asume que la heterosexualidad es la normalidad? Aquí normalidad quiere
  decir que es una regla de la sociedad que se debe seguir o a que se deben ajustar las 
  conductas, tareas, actividades, etc.</b> <br> <br>

    sí: LGBT-fóbico <br>
    no: No LGBT-fóbico <br>
    
  <br>
  <hr>

  <b> ¿La canción asume que ser cisgénero es lo "normal"? </b> <br> <br>

    sí: LGBT-fóbico <br>
    no: No LGBT-fóbico <br>
    
  <br>
  <hr>

</p>

  <a href="/tutorial_final/">Seguir</a>

</div>
</body>
</html> 
