<!DOCTYPE html>
<html>
<head>

	<title>GIL - Anotación</title>
</head>
<!-- This page introduces the study. -->
<body style="background:linear-gradient(Teal 50%, rgb(0, 0, 0)) fixed">

<div style="background-color:WhiteSmoke; padding:25px; border:2px solid black; max-width:1000px; margin:auto">
<p style="text-align:center"><img src="/static/img/banner.png" alt="Logo"></p>
<h1 style="text-align:center">Tutorial</h1>
</br></br>

<a style="text-aligh:right" href="/logout/">Salir >></a>


<p> 

  Por favor, lee esta información cuidadosamente. <br> 

  <hr>
  <h2 style="text-align:center"> Preguntas </h2>
  <hr>

  <b> ¿La preferencia sexual es una elección? </b> <br> <br>

      No. Los seres humanos no pueden elegir ser gay, lesbiana, heterosexual o cualquier otra identidad. <br>
      Para la mayoría de las personas, la preferencia sexual aparece a principios de la
      adolesencia sin ninguna experiencia sexual previa. <br>
  <br>
  <hr>

  <b> ¿Qué es la diversidad sexual? </b> <br> <br>

    Es el conjunto de expresiones, preferencias u orientaciones, identidades sexuales y de género:
    hombres o mujeres, heterosexuales, homosexuales, lesbianas, bisexuales, transgénero, transexual,
    travesti, intersexual, entre otras, que existen en la especie humana. <br>

  <br>
  <hr>

  <b> ¿Qué significa LGBTTTI (LGBT+)? </b> <br> <br>

    Es una sigla para referirse a las personas lesbianas, gays, bisexuales, travestis, transexuales,
    transgénero, intersexual y cada persona que no se identifique con la sexualidad heterosexual o género
    cis. <br>

  <br>
  <hr>

  <b> ¿La homosexualidad es una enferemedad mental o un problema emocional? </b> <br> <br>

    No. Los psicólogos, psiquiatras y otros profesionales de la salud mental concuerdan en que la
    homosexualidad no es una enfermedad ni un trastorno mental ni un problema emocional. <br>

  <br>
  <hr>

  <b> ¿Por qué existe violencia contra las personas diferentes? </b> <br> <br>

    La violencia contra la comunidad LGBT+ se debe a la escala de valores de una sociedad,
    en la cual generalmente se valora más lo masculino que lo feminino, a los hombres sobre las
    mujeres, a las personas heterosexuales por encima de las homosexuales. <br>

    Lo mismo ocurre con las personas travestis, transexuales y transgénero: se les ataca por no
    respetar las normas de género. <br>

    Estos valores provienen en ocasiones de creencias, mitos o preceptos religiosos. <br>

  <br>
  <hr>

</p>

  <a href="/tutorial3/">Seguir</a>

</div>
</body>
</html> 
