<!DOCTYPE html>
<html>
<head>

	<title>GIL - Anotación</title>
</head>
<body style="background:linear-gradient(Teal 50%, rgb(0, 0, 0)) fixed">
<!-- This page introduces the study. -->

<div style="background-color:WhiteSmoke; padding:25px; border:2px solid black; max-width:1000px; margin:auto">
<p style="text-align:center"><img src="/static/img/banner.png" alt="Logo"></p>
<h1 style="text-align:center">Tutorial</h1>
</br></br>

<a style="text-aligh:right" href="/logout/">Salir >></a>


<p> 
  De nuevo, ¡agradecemos su participación! <br> <br>

  Antes de empezar, vamos a repasar algunas definiciones que usaremos para el etiquetado, por favor leelos cuidadosamente.
  <br> 

  <hr>
  <h2 style="text-align:center"> Términos </h2>
  <hr>

  <b>Diversidad</b> <br>
  <br>
    
    Diversas formas de expresar la afectividad, el erotismo, el deseo, y las prácticas
    amorosas, así como de asumir identidades y preferencias que no se limitan a lo
    que conocemos como heterosexualidad o a las relaciones de pareja entre hombres y mujeres. <br>

  <br>
  <hr>

  <b>Sexualidad</b> <br>
  <br>

    El término “sexualidad” se refiere a una dimensión fundamental del hecho de ser un ser humano: 
    Basada en el sexo, incluye al género, las identidades de sexo y género, la orientación sexual, el erotismo, 
    la vinculación afectiva y el amor, y la reproducción. 

  <hr>
   
  <b>Prácticas Sexuales</b> <br>
  <br>

    Se entiende como las elecciones específicas que cada persona toma en el ejercicio de su
    sexualidad, es decir, la elección de su objeto de placer o deseo, sin tomar en cuenta
    la identidad que asuma. <br>

  <br>
  <hr>

  <b>Género</b> <br>
  <br>
    
    El conjunto de ideas, creencias, y representaciones sociales de la diferencia sexual entre
    personas. <br>

  <br>
  <hr>
  
  <b>Prejuicio</b> <br>
  <br>

    Es la predisposición irracional (sin reflexión) a adoptar un comportamiento negativo
    hacia una persona en particular o un grupo poblacional, sobre la base de una generalización
    errónea y rígida acerca de tales personas o colectivas que se plasma en esterotipos. <br>

  <br>
  <hr>

  <b>Estigma</b> <br>
  <br>

  Se refiere a la marca física, social, cultural o de otro tipo que hacen aparecer como diferente
  a una persona o grupo, pero también descalifica y reduce de antemano el estatus de esa persona
  frente a la sociedad. <br>

  Es el caso de las personas de origen indígena, afrodescendientes, las personas de la diversidad
  sexual o particularmente quienes viven con VIH/sida, entre otras. <br>

  Se presenta en todos los espacios de la vida y va desde actitudes de rechazo, burla,
  humiliación o utilización de lenguaje ofensivo hacia la persona diferente, hasta reacciones
  violentas, que en casos extremos producen los llamados crímenes de odio. <br>

  <br>
  <hr>

  <b>Identidad de Género</b> <br>
  <br>

    La manera en que cada persona experimenta su pertenencia a un género.
    <br>

    Como se trata de un registro de la experiencia de vida, intervienen en él códigos sociales y
    culturales, y también influyen en él el momento histórico y el lugar en que la persona
    se desarrolla. <br>

  <br>
  <hr>

  <b>Bisexualidad</b> <br>
  <br>

    La atracción erótica y/o afectiva por otras personas sin importar su sexo o género. <br>

  <br>
  <hr>

  <b>Heterosexualidad</b> <br>
  <br>

    La atracción erótica y/o afectiva hacia personas de sexo o género distinto al
    identificado como propio. <br>

  <br>
  <hr>

  <b>Homosexualidad</b> <br>
  <br>

    La atracción erótica y/o afectiva hacia personas del mismo sexo o género. <br>

  <br>
  <hr>

  <b>Transexualidad y Transgenerismo</b> <br>
  <br>

    Las personas trasngenéricas y transexuales son quienes, habiendo nacido con un sexo
    biológico determinado, tienen una identidad de género (sexo psicológico) "opuesta",
    es decir, son biológicamente hombres pero con identidad feminina u otra identidad, o biológicamente mujeres
    con identidad masculina u otra identidad, de manera que manifestan inconformidad o malestar con su sexo
    biólogico. <br>

    La transexualidad no es una preferencia sexual. <br>
    La transexualidad y la transgeneridad son condiciones inherentes a las personas. <br>
   
  <br>
  <hr>

  <b>Queer</b> <br>
  <br>

    Se relaciona con una identidad sexual o de género que no corresponde a las reglas
    establecidas de sexualidad y género. <br>

    Es un término general para las personas cuya identidad de género no está incluida o
    trasciende la dicotomía hombre/mujer. <br>

  <br>
  <hr>

  <b>Homofobia / LGBT-fobia</b> <br>
  <br>
    
    Se utiliza para referirse a todas las formas de discriminación, que se expresa en rechazo,
    ridiculización y otras formas de violencia, que causan daño o prejuicio a las personas en
    la esfera de su dignidad por cuestiones de sus prácticas, orientaciones o identidades sexo
    genéricas. <br>

    La homofobia no es sólo el prejuicio irracional contra las personas homosexuales o contra
    quienes se consideran como tales, sino que es el prejuicio irracional en contra de todas
    las personas que transgreden las convenciones sexuales y de género. <br>

  <br>

</p>

  <a href="/tutorial2/">Seguir</a>

</div>
</body>
</html> 
